#main {
  margin: auto;
  display: block;
  margin-top: 2rem;
  text-align: center;
}
.card {
  display: block;
  width: 200px;
  height: 200px;
  background-image: url(./assets/cartridge.webp);
  background-size: cover;
  position: relative;
  margin: auto;
}
.card img {
  position: absolute;
  height: 88px;
  width: 67px;
  top: 38px;
  right: 44px;
  image-rendering: pixelated;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 20px;
  width: 80vw;
  margin-top: 2rem;
  margin: auto;
}

.cardParent:hover {
  transform: translateY(-5px);
}
nav {
  display: flex;
}
.cardParent {
  text-align: center;
  width: 250px;
}
.genres {
  display: flex;
  font-size: 0.5rem;
}
.nes-badge {
  margin-left: 15px;
}
